body {
    font: 14px "Century Gothic", Futura, sans-serif;
    background: #008000 !important;
    color: white !important;
}
  
  .square{
    background: #008000;
    padding: 0;
    margin-left:1%;
    margin-top: 1em;
    width: 10%;
    height: 100%;
  }

  .square:nth-child(3){
    margin-right: 5%;
  }

  #root{
    width: 115%;
    height: 100%;
    margin-top: 3%;
  }

  .game{
    margin-left: 12%;  
  }

  .score{
    font-size: 5em;
    color: white;
    display: inline;
    margin-left: 20%;
  }

  .result{
    font-size:2.5em;
    color: white;
    margin-left: 20%;
    margin-top: 1%;
  }
  
  #btnReset{
    position: fixed;
    bottom: 0;
    margin-left: 28%;
  }

  .score:nth-child(1){
    margin-right: 10%;
  }

  .scoreSection{
    margin-top: 3%;
  }

  #banner h1{
    width: 100%;
    height:5%;
    margin: 0;
    padding: 0;
    text-align: center;
    font: 4em sans-serif;
  } 

.board-row{
  display: inline;
}