body {
    font: 14px "Century Gothic", Futura, sans-serif;
    background: #ddd;
  }
  
  .square{
    background: #ddd;
    padding: 0;
    margin-left:2em;
    margin-top: 1em;
    width: 13%;
  }
  
  .square:focus {
    outline: none;
  }

  #root{
    width: 100%;
    height: 100%;
  }

  .game{
    width: 100%;
    height: 100%;
    margin-left: 15%;
  }

  .score{
    margin-left:2em;
    display: inline;
    text-align: center;
    position: fixed;
    font-size: 4em;
    color:orangered;
  }

  #banner h1{
    width: 100%;
    height:5%;
    margin: 0;
    padding: 0;
    text-align: center;
  } 